pool pool.ntp.org iburst
driftfile /var/lib/chrony/drift
makestep 1.0 3
rtcsync
keyfile /etc/chrony.keys
ntsdumpdir /var/lib/chrony
leapsectz right/UTC
logdir /var/log/chrony

# Allowed Networks
{{- range $i, $server := .Service.NTPServers }}
allow {{ getInterfaceNetworkAddressCIDR $ $server.Interface }}
{{- end }}