[Match]
{{ if .VlanID -}}
OriginalName={{ .Name .VlanID }}
{{- else -}}
MACAddress={{ .Mac }}
{{- end }}
[Network]
LLMNR=no
{{- if and .DHCP4 .DHCP6 }}
DHCP=yes
{{- else if .DHCP4 }}
DHCP=ipv4
{{- else if .DHCP6 }}
DHCP=ipv6
{{- end }}
{{- range .IPs }}
Address={{ . }}
{{- end }}
{{- range .Vlans }}
VLAN={{ VlanIDName . }}
{{- end}}