[Unit]
Description=ulogdsocket

[Socket]
ListenFIFO=/run/ulog/ulogd.socket
SocketMode=0600
RemoveOnStop=true
SocketUser=ulog
SocketGroup=root

[Install]
WantedBy=ulogd.service
