{{ range $rule := .Netfilter.DestinationNATRules }}
        {{ matcher $.Services $.Addresses $rule.Match }}{{ if $rule.Counter }} counter{{ end }}{{ if ne $rule.Comment "" }} comment "{{ $rule.Comment }}"{{ end }}{{ end }}