/* CSS Components */
button, .button {
  all: unset;

  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  vertical-align: center;
  
  padding: 0.5rem;
  gap: 0.5rem;
  
  cursor: pointer;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button > svg, button > svg {
  min-width: 1.5rem;
  min-height: 1.5rem;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 0.5rem;
  gap: 0.5rem;

}
form > :is(button, .button, h1) {
  grid-column: 1 / 3;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th:hover {
  cursor: pointer;
}
th, td {
  padding: 0.5rem;
  border: 0.125rem solid var(--cl-fg);
}
th > *{
  justify-content: center;
  align-items: center;
}
th svg {
  height: 1rem;
}

.search-bar {
  display: block;
  padding: 0.4rem;
  border: 1px solid var(--cl-fg);
}

/* Coloring */
button, .button {
  background-color: var(--cl-bg-el);
}
/* Button Background Exception for Nav Menu */
.nav-body button,
.nav-body .button {
  background-color: var(--cl-bg);
}
.button:hover, button:hover {
  background-color: var(--cl-bg-hl);
}

input {
  background-color: var(--cl-bg-el);
  border: 1px solid var(--cl-fg);
}

table {
  background-color: var(--cl-bg);
}

th {
  background-color: var(--cl-bg-el);
}

tbody tr:hover, th:hover {
  background-color: var(--cl-bg-hl);
}
