/* CSS Components */
button, .button {
  all: unset;

  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  vertical-align: center;
  
  padding: 0.5rem;
  gap: 0.5rem;
  
  cursor: pointer;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  
  background-color: var(--cl-bg-low);
}
.button > svg, button > svg {
  min-width: 1.5rem;
  min-height: 1.5rem;
}
.button:hover, button:hover {
  background-color: var(--cl-bg-mid);
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 0.5rem;
  gap: 0.5rem;

  background-color: var(--cl-bg-low);
}
form > :is(button, .button, h1) {
  grid-column: 1 / 3;
}
form button, form .button {
  background-color: var(--cl-bg);
}

table {
  width: 100%;
  border-collapse: collapse;
}
thead {
  background-color: var(--cl-bg-low);
}
th:hover {
  background-color: var(--cl-bg-mid);
  cursor: pointer;
}
th, td {
  padding: 0.5rem;
  border: 0.125rem solid var(--cl-bg-mid);
}
th > *{
  justify-content: center;
  align-items: center;
}
th svg {
  height: 1rem;
}
tbody tr:nth-child(even) {
  background-color: var(--cl-bg-mid)
}

.search-bar {
  display: block;
  padding: 0.4rem;
  background-color: var(--cl-bg-low);
  color: inherit;
  border: 1px solid var(--cl-fg);
}

.multiselect, .multiselect * {
  all: initial;
}
