/* CSS Components */
button, .button {
  all: unset;

  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  vertical-align: center;
  
  padding: 0.5rem;
  gap: 0.5rem;
  
  cursor: pointer;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  color: var(--cl-on-primary);
  background-color: var(--cl-primary);
}
.button > svg, button > svg {
  min-width: 1.5rem;
  min-height: 1.5rem;
}
.button:hover, button:hover {
  background-color: var(--cl-primary);
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 0.5rem;
  gap: 0.5rem;

  background-color: var(--cl-secondary-container);
}
form > :is(button, .button, h1) {
  grid-column: 1 / 3;
}
form button, form .button, form input {
  color: var(--cl-on-secondary);
  background-color: var(--cl-secondary);
}

table {
  width: 100%;
  border-collapse: collapse;
}
thead {
  background-color: var(--cl-secondary-container);
}
th:hover {
  background-color: var(--cl-secondary);
  cursor: pointer;
}
th, td {
  padding: 0.5rem;
  border: 0.125rem solid var(--cl-outline);
}
th > *{
  justify-content: center;
  align-items: center;
}
th svg {
  height: 1rem;
}
tbody tr:nth-child(even) {
  background-color: var(--cl-surface-variant)
}

.search-bar {
  display: block;
  padding: 0.4rem;
  background-color: var(--cl-secondary-container);
  color: var(--cl-on-secondary-container);
  border: 1px solid var(--cl-outline);
}
