[Match]
{{- if eq .Type 0 }}
Name={{ .HardwareDevice }}
{{- else }}
Name={{ .Name }}
{{- end }}

[Network]
LLMNR=no
{{- if eq .AddressingMode 2 }}
DHCP=yes
{{- else }}
Address={{ .Address }}
{{- end }}